---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>

    <div class="related-posts">
      {% assign n_posts = 0 %}
      {% for category in page.categories %}
        {% for post in site.posts %}
          {% if post.categories contains category and post.id != page.id %}
            {% if n_posts == 0 %}
              Read more like this: <a href="{{ post.url | relative_url }}">{{post.title}}</a> |
            {% endif %}
            {% if n_posts == 1 %}
              <a href="{{ post.url | relative_url }}">{{post.title}}</a> |
            {% endif %}
            {% if n_posts == 2 %}
              <a href="{{ post.url | relative_url }}">{{post.title}}</a>
            {% endif %}
            {% assign n_posts = n_posts | plus: 1 %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>

    {% include footer.html %}
  </div>
</main>
